--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4 (Debian 17.4-1.pgdg120+2)
-- Dumped by pg_dump version 17.4 (Debian 17.4-1.pgdg120+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: actor; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.actor (
    id integer NOT NULL,
    rol smallint,
    vivienda_id integer,
    dtype character varying(31) NOT NULL,
    "contrase├▒a" character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    foto_perfil character varying(255),
    nombre character varying(255) NOT NULL,
    telefono character varying(255),
    usuario character varying(255) NOT NULL,
    CONSTRAINT actor_rol_check CHECK (((rol >= 0) AND (rol <= 2)))
);


ALTER TABLE public.actor OWNER TO postgres;

--
-- Name: actor_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.actor ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.actor_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: comunidad; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.comunidad (
    id integer NOT NULL,
    nombre character varying(255) NOT NULL
);


ALTER TABLE public.comunidad OWNER TO postgres;

--
-- Name: comunidad_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.comunidad ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.comunidad_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: foto_vivienda; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.foto_vivienda (
    id integer NOT NULL,
    vivienda_id integer NOT NULL,
    imagen character varying(255)
);


ALTER TABLE public.foto_vivienda OWNER TO postgres;

--
-- Name: foto_vivienda_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.foto_vivienda ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.foto_vivienda_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: municipio; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.municipio (
    cod_municipio integer NOT NULL,
    dc integer NOT NULL,
    id integer NOT NULL,
    provincia_id integer NOT NULL,
    nombre character varying(255) NOT NULL
);


ALTER TABLE public.municipio OWNER TO postgres;

--
-- Name: municipio_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.municipio ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.municipio_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: provincia; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.provincia (
    comunidad_id integer NOT NULL,
    id integer NOT NULL,
    nombre character varying(255) NOT NULL
);


ALTER TABLE public.provincia OWNER TO postgres;

--
-- Name: provincia_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.provincia ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.provincia_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: solicitud_vivienda; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.solicitud_vivienda (
    id integer NOT NULL,
    estado character varying(255) NOT NULL,
    fecha_respuesta timestamp(6) without time zone,
    fecha_solicitud timestamp(6) without time zone NOT NULL,
    mensaje character varying(500),
    respuesta_anunciante character varying(500),
    estudiante_id integer NOT NULL,
    vivienda_id integer NOT NULL,
    CONSTRAINT solicitud_vivienda_estado_check CHECK (((estado)::text = ANY ((ARRAY['PENDIENTE'::character varying, 'ACEPTADA'::character varying, 'RECHAZADA'::character varying, 'CANCELADA'::character varying])::text[])))
);


ALTER TABLE public.solicitud_vivienda OWNER TO postgres;

--
-- Name: solicitud_vivienda_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.solicitud_vivienda ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.solicitud_vivienda_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: vivienda; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.vivienda (
    anunciante_id integer,
    id integer NOT NULL,
    numero_habitaciones integer,
    precio_mensual integer NOT NULL,
    tipo_vivienda smallint NOT NULL,
    fecha_publicacion timestamp(6) without time zone NOT NULL,
    ultima_edicion timestamp(6) without time zone NOT NULL,
    calle character varying(255) NOT NULL,
    comunidad character varying(255) NOT NULL,
    descripcion character varying(255) NOT NULL,
    municipio character varying(255) NOT NULL,
    nombre character varying(255) NOT NULL,
    numero character varying(255) NOT NULL,
    provincia character varying(255) NOT NULL,
    CONSTRAINT vivienda_tipo_vivienda_check CHECK (((tipo_vivienda >= 0) AND (tipo_vivienda <= 5)))
);


ALTER TABLE public.vivienda OWNER TO postgres;

--
-- Name: vivienda_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.vivienda ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.vivienda_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: actor; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.actor (id, rol, vivienda_id, dtype, "contrase├▒a", email, foto_perfil, nombre, telefono, usuario) FROM stdin;
1	0	\N	Admin	$2a$10$syhEzAkclfaGfkGRCp481epNeGQiwpg0jHd33E/V7Vysa90nLlqAS	admin@default.es	https://icons.veryicon.com/png/o/application/cloud-supervision-platform-vr10/admin-5.png	Admin por defecto	\N	admin
2	2	\N	Anunciante	$2a$10$7jAHdDnJmtAMYd2ZCehG3O5weZ..3BQdZfZIxmWnb9FW/J.0nhfKe	anu1@gmail.com		Ruben	666666666	anu1
3	1	\N	Estudiante	$2a$10$uqk3YU2imZts6Ngkdt2QmeNL61B9uOm56SbJEL.z0yvLkQlw4z2CC	rubenecijanito@gmail.com		Ruben	\N	ruru
\.


--
-- Data for Name: comunidad; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.comunidad (id, nombre) FROM stdin;
1	Andaluc├¡a
2	Arag├│n
3	Principado de Asturias
4	Islas Baleares
5	Canarias
6	Cantabria
7	Castilla y Le├│n
8	Castilla-La Mancha
9	Catalu├▒a
10	Comunidad Valenciana
11	Extremadura
12	Galicia
13	Comunidad de Madrid
14	Regi├│n de Murcia
15	Comunidad Foral de Navarra
16	Pa├¡s Vasco
17	La Rioja
18	Ceuta
19	Melilla
\.


--
-- Data for Name: foto_vivienda; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: municipio; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: provincia; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: solicitud_vivienda; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.solicitud_vivienda (id, estado, fecha_respuesta, fecha_solicitud, mensaje, respuesta_anunciante, estudiante_id, vivienda_id) FROM stdin;
\.


--
-- Data for Name: vivienda; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.vivienda (anunciante_id, id, numero_habitaciones, precio_mensual, tipo_vivienda, fecha_publicacion, ultima_edicion, calle, comunidad, descripcion, municipio, nombre, numero, provincia) FROM stdin;
2	1	3	1200	1	2025-05-28 23:54:35.184497	2025-05-28 21:54:35.14	Severo Ochoa	Andaluc├¡a	Piso de prueba	├ëcija	Piso en el centro con plaza de aparcamiento	18	Sevilla
2	2	6	3000	5	2025-05-29 00:58:18.657628	2025-05-28 22:58:18.64	Juan Ramon Jim├®nez	Andaluc├¡a	Chalet de prueba	Ca├▒ada Rosal	Chalet amplio con piscina	40	Sevilla
\.


--
-- Name: actor_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.actor_id_seq', 3, true);


--
-- Name: comunidad_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.comunidad_id_seq', 1, false);


--
-- Name: foto_vivienda_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.foto_vivienda_id_seq', 5, true);


--
-- Name: municipio_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.municipio_id_seq', 8116, true);


--
-- Name: provincia_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.provincia_id_seq', 1, false);


--
-- Name: solicitud_vivienda_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.solicitud_vivienda_id_seq', 1, false);


--
-- Name: vivienda_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.vivienda_id_seq', 2, true);


--
-- Name: actor actor_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.actor
    ADD CONSTRAINT actor_pkey PRIMARY KEY (id);


--
-- Name: comunidad comunidad_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comunidad
    ADD CONSTRAINT comunidad_pkey PRIMARY KEY (id);


--
-- Name: foto_vivienda foto_vivienda_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.foto_vivienda
    ADD CONSTRAINT foto_vivienda_pkey PRIMARY KEY (id);


--
-- Name: municipio municipio_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.municipio
    ADD CONSTRAINT municipio_pkey PRIMARY KEY (id);


--
-- Name: provincia provincia_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.provincia
    ADD CONSTRAINT provincia_pkey PRIMARY KEY (id);


--
-- Name: solicitud_vivienda solicitud_vivienda_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.solicitud_vivienda
    ADD CONSTRAINT solicitud_vivienda_pkey PRIMARY KEY (id);


--
-- Name: vivienda vivienda_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vivienda
    ADD CONSTRAINT vivienda_pkey PRIMARY KEY (id);


--
-- Name: municipio fk4ud8nsel0i9ti2kr3hboxrosg; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.municipio
    ADD CONSTRAINT fk4ud8nsel0i9ti2kr3hboxrosg FOREIGN KEY (provincia_id) REFERENCES public.provincia(id);


--
-- Name: solicitud_vivienda fk4wl4mehvl6jjiv65tlj2cbf38; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.solicitud_vivienda
    ADD CONSTRAINT fk4wl4mehvl6jjiv65tlj2cbf38 FOREIGN KEY (estudiante_id) REFERENCES public.actor(id);


--
-- Name: foto_vivienda fk9jciucqnknrwvo1l0vevxelk0; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.foto_vivienda
    ADD CONSTRAINT fk9jciucqnknrwvo1l0vevxelk0 FOREIGN KEY (vivienda_id) REFERENCES public.vivienda(id);


--
-- Name: vivienda fkf216ih66l1gn3rb8yuxr4ocp; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vivienda
    ADD CONSTRAINT fkf216ih66l1gn3rb8yuxr4ocp FOREIGN KEY (anunciante_id) REFERENCES public.actor(id);


--
-- Name: provincia fkn399f98rdg8t13vnot56kxfx2; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.provincia
    ADD CONSTRAINT fkn399f98rdg8t13vnot56kxfx2 FOREIGN KEY (comunidad_id) REFERENCES public.comunidad(id);


--
-- Name: actor fkojtdkeqi19g4wehjgn8pyjosc; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.actor
    ADD CONSTRAINT fkojtdkeqi19g4wehjgn8pyjosc FOREIGN KEY (vivienda_id) REFERENCES public.vivienda(id);


--
-- Name: solicitud_vivienda fkrxy1u0y0bhb85jrunkxgn1m6s; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.solicitud_vivienda
    ADD CONSTRAINT fkrxy1u0y0bhb85jrunkxgn1m6s FOREIGN KEY (vivienda_id) REFERENCES public.vivienda(id);


--
-- PostgreSQL database dump complete
--

